CONFIG_PIN_TO_RCP_TX=4
CONFIG_PIN_TO_RCP_RX=5

CONFIG_ESP_BR_BOARD_STANDALONE=y
CONFIG_ESP_CONSOLE_UART_DEFAULT=y

CONFIG_OPENTHREAD_BR_AUTO_START=y
CONFIG_LWIP_PPP_SUPPORT=y
CONFIG_LWIP_PPP_SERVER_SUPPORT=y

CONFIG_EXAMPLE_USE_INTERNAL_ETHERNET=y
CONFIG_ESP_BR_C6_TARGET=y
