menu "ESP Thread Border Router Example"

    choice ESP_BR_BOARD_TYPE
        prompt "Border router board type"
        default ESP_BR_BOARD_STANDALONE
        help
            The board running the border router.

        config ESP_BR_BOARD_STANDALONE
            bool "Standalone dev kits"
            help
                Standalone ESP Wi-Fi dev kit manually connected to the RCP

        config ESP_BR_BOARD_DEV_KIT
            bool "Border router dev kit"
            help
                Integrated border router dev kit
    endchoice

    menu "Board Configuration"
        config PIN_TO_RCP_RESET
            int "Pin to RCP reset"
            default "7"

        config PIN_TO_RCP_BOOT
            int "Pin to RCP boot"
            default "8"

        config PIN_TO_RCP_TX
            int "Pin to RCP TX"
            default "17"

        config PIN_TO_RCP_RX
            int "Pin to RCP RX"
            default "18"
    endmenu

    config OPENTHREAD_BR_AUTO_UPDATE_RCP
        bool 'Update RCP automatically'
        default True
        help
            If enabled, the Thread Border Router will store the RCP image in its firmware and
            compare the stored image version with the running RCP image upon boot. The RCP
            will be automatically updated upon version mismatch.

    config OPENTHREAD_BR_CREATE_OTA_IMAGE
        bool 'Create the OTA image for border router'
        default True
        help
            If enabled, an ota image will be generated during building.

    config OPENTHREAD_BR_AUTO_START
        bool 'Enable the automatic start mode in Thread Border Router.'
        default False
        help
            If enabled, The Thread Border Router will connect to Wi-Fi with pre-configured
            SSID and PSK, and then form a Thread network automatically. Otherwise, user need
            to configure Wi-Fi and Thread manually.

    config OPENTHREAD_BR_START_WEB
        bool 'Enable the web server in Thread Border Router.'
        select OPENTHREAD_COMMISSIONER
        select OPENTHREAD_JOINER
        default False
        help
            If enabled, a web server will be provided to configure and query Thread network via a Web GUI. 

endmenu
